

.john {
    background: black;
    position: fixed;
    width: 100%;
    align-content: center;
    top: 0;
    left: 0;
    #john {
        font-size:50px;
    }
}
nav a {
    float: left;
    text-decoration: none;
    color: azure;
    padding: 5px;
    text-align: center;
    font: bold;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.Hi a {
    float: right;
    padding: 5px;
    text-align: center;
    margin-right: 10px;
    font-size: 25px;
    font-weight: bold;
}
.content {
    width: 100%;
    height: 70%;
    left: 0;

}
.content1 h1 {
    padding-left: 10px;
    font-weight: bolder;
}
.content2 {
    float: left;
    width: 250px;
    padding: 5px;
    width: 100%;
}
.content2 a {
    float: left;
    padding: 12px;
}
.content7  input {
 padding: 10px;
 margin: 10px;
 padding-right: 900px;
 text-decoration: solid;
}
.content8 input {
    background: #000;
    color: aliceblue;
    text-decoration: solid;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
}
.content3 {
    margin-left: 10px;
}
.content5 {
    margin-left: 10px;
}
.content10 {
    width: 100%;
    height: 10%;
    background: #000;
    left: 0;
    right: 0;
}
.content10 h3 {
    text-align: center;
    color: aliceblue;
    padding-top: 50px;
    padding-bottom: 50px;
}